<div class="grid-container">
  <div class="grid-cell">
    <%= image_tag("boethius_home.png",
                   alt: "Image from a manuscript by Boethius",
                   class: "home-img") %>
  </div>
  <div class="grid-cell splash-text-container">
    <h1 class="splash-text">Boethius Bound</h1>
    <h2>We don’t just print on demand—we typeset on demand</h2>
    <p>Instead of old scans and photocopies for public domain works, try using Boethius. Choose the font, margins, paper size, and more. After all, books should be beautiful.</p>
  </div>
</div>
