<h1>Your Projects</h1>

<% if @projects.empty? %>
  <p>You have no projects.</p>
<% else %>
  <% @projects.each do |project| %>
    <div class="row">
      <%= project.name %>
      <%= link_to "Edit", project %>
      <%= link_to "Delete", project, method: :delete,
                            data: {confirm: 'Are you sure?' } %> 
    </div>
  <% end %>
<% end %>

<%= link_to "Start a new project", new_project_path %>
