/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/**
 Main variables
 */

@import "application_variables";
$base-font-size: 16px;

/**
 * The usual reset
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Universal stuff
 */

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  font-feature-settings: "kern" 1;
  color: $text-color;
}

main {
  flex: 1;
  margin-left: $spacing_unit;
  margin-right: $spacing_unit;
}

header, footer {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: black;
  height: 50px;
  padding: 5px;
  box-sizing: border-box;
  a {
    color: $grey-color-light;
    font-size: 20px;
    &:visited {
      color: $grey-color-light;
    }
  }
}

footer {
  height: 70px;
  p {
    color: grey;
  }
}

a {
  color: black;
  text-decoration: none;
  &:hover {
    color: grey;
  }
}

/**
 * Header
 */

header {
  padding: 0px $spacing_unit 0px $spacing_unit;
  flex-direction: row;
  justify-content: space-between;

  nav {
    ul {
      list-style-type: none;
      display: flex;
      li {
        float: right;
        &:not(:last-child) {
          margin-right: 20px;
        }
        a {
          display: block;
        }
      }
    }
  }
}

.header-home-link {
  font-size: 30px;
  color: white;
  &:visited {
    color: white;
  }
}

/**
 * Alerts and such
 */

.message-box {
  padding: 10px;
  margin: 20px auto;
  width: 300px;
  color: white;
  font-weight: bold;

  p {
    padding: 10px 10px 10px 20px;
  }

  .notice {
    background-color: #6aba1a;
  }

  .alert {
    background-color: #f44336;
  }

}
