// Place all the styles related to the project_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.chapter-selection {
  span {
    width: 10%;
    float: left;
    input {
      float: left;
    }
    label {
    }
  }
}
