// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "application_variables";

.project-container {

  width: 80%;
  margin: auto;

  h1 {
    text-align: center;
  }
}

.project-form-container {

  border: 1px solid black;
  padding: 20px;

  .form-subgroup {
    display: grid;
    width: 100%;
    margin-bottom: 30px;

    h4 {
      grid-column: 1 / span 3;
      text-align: center;
      margin-bottom: $spacing-unit / 2;

      @media only screen and (max-width: $tablet) {
        grid-column: 1 / span 1;
      }

    }

  }

  label {
    margin-bottom: 20px;
    float: left;

    * {
      margin-left: 10px;
    }

    @media only screen and (max-width: $tablet) {
      text-align: center;

      * {
        margin-left: 0px;
      }

    }

  }

  .submit-button {
    display: inherit;
    margin: 0 auto;
    font-size: $base-font-size * 1.2;
  }

}

.book-rows-container {
  border: 1px solid black;
  padding: $spacing-unit $spacing-unit $spacing-unit / 4 $spacing-unit;
  margin-top: $spacing-unit;

  h2 {
    text-align: center;
    margin-bottom: $spacing-unit;
  }

  form {
    margin-bottom: $spacing-unit;
  }

}

.compile-button {
  display: block;
  margin: $spacing-unit auto;
  padding: $spacing-unit / 3;
  font-size:   $base-font-size * 1.3;
}
