@import "application_variables";

.grid {
  display: flex;
}

.grid-cell {
  flex: 1;
}

.home-img {
  width: 460px;
  height: 570px;
  padding: 10px;
}

.splash-text-container {
  h1 {
    font-size: $base-font-size * 3;
  }
  h2 {
    font-size: $base-font-size * 1.5;
  }
}
