@import "application_variables";

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1.62fr;
  grid-gap: 10px;
}

.grid-cell {
  flex: 1;
  grid-row-start: 1;
  grid-row-end:   2;
}

.home-img {
  width: 100%;
  padding: 10px;
}

.splash-text-container {
  margin: $spacing-unit;
  h1 {
    font-size: $base-font-size * 3;
  }
  h2 {
    font-size: $base-font-size * 1.5;
  }
}
